*{
    /* This is universal Selector*/
    line-height: 1.5;
}
h2{
    color: aquamarine;
}
#indore{
    border: 5px solid blueviolet;
    padding: 2rem 0 2rem 5rem;
    border-style: dotted;
}
.classs{
    text-align: justify;
    color: coral;
    font-size: 3rem;
}
.classs2{
    background-color: rgb(240, 230, 230);
    border: 5px solid burlywood;
    line-height: 1.5;
    padding: 2rem;
    text-align: justify;
    font-size: 1.5rem;
}