@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  background-color: beige;
  font-family: 'Balsamiq Sans', cursive;
}
h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 5px;
}
section {
  padding: 2rem;
  background-color: rgba(165, 42, 42, 0.212);
  width: 94vw;
  height: 87vh;
  border-radius: 20px;
}
table {
  width: 250px;
  height: 300px;
  background-color: cadetblue;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 10%;
  box-shadow: inset 5px 5px 10px 5px rgba(255, 255, 255, 0.1),
    inset -5px -5px 10px 5px rgb(255, 255, 255, 0.1);
}
td button {
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  background-color: cadetblue;
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px 5px rgba(255, 255, 255, 0.1),
    inset -5px -5px 10px 5px rgb(255, 255, 255, 0.1);
  box-shadow: 5px 5px 10px 5px rgba(255, 255, 255, 0.1),
    -5px -5px 10px 5px rgb(255, 255, 255, 0.1);
}

#display {
  display: inline-block;
  height: 40px;
  line-height: 2;
  font-size: 1.2rem;
  padding: 5px 15px;
  width: 90%;
  background-color: cornflowerblue;
  color: azure;
  font-weight: 700;
  text-align: right;
  margin: 2rem 0 5px 2px;
  border: none;
}
table tr:nth-child(4) td:nth-child(3) button {
  /* background-color: aqua; */
  width: 90%;
}
